p {
    color:blueviolet;
    font-size: medium;
    }
h1 {
    color: crimson;
    font-size: xx-large;
    
}
button {
    width: 100px;
    height: 100px;
    background: green;
    transition: width 4s
}
button:hover {
    width: 300px;
}